<app-top-bar></app-top-bar>

<div class="container">
    <label for="options">Choose a category:</label>
<select id="options" name="options">
  <option value="option1">Option 1</option>
  <option value="option2">Option 2</option>
  <option value="option3">Option 3</option>
  <option value="option4">Option 4</option>
</select>
</div>
<div>
    <router-outlet></router-outlet>
    <app-category></app-category> 
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->